<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create" class="active">Create User</a>
    </div>
    <div class="form">
        <form action="/create-user" method="post">
            <fieldset>
                <legend>Personalia:</legend>
                <label for="email">Email: </label>
                <input type="email" id="email" name="email"><br><br>
                <label for="name">Name</label>
                <input type="text" id="name" name="name"><br><br>
                <label for="city">City</label>
                <input type="city" id="city" name="city"><br><br>
                <input type="submit" value="Submit">
            </fieldset>
        </form>
    </div>
</body>

</html>