<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create User</a>
    </div>
    <div class="form">
        <form action="/update-user" method="post">
            <fieldset>
                <legend>Update User:</legend>
                <!-- attribute name là req.body -->
                <input hidden name="id" value="<%= user.id %>">
                <label for="email">Email: </label>
                <input type="email" id="email" name="email" value="<%= user.email%>"><br><br>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="<%= user.name%>"><br><br>
                <label for="city">City</label>
                <input type="city" id="city" name="city" value="<%= user.city%>"><br><br>
                <input type="submit" value="Update">
            </fieldset>
        </form>
    </div>
</body>

</html>